/* Reset some default styles */
body, h1, h2, h3, p, ul, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Basic styling for the header */
header {
    text-align: center;
    background-color: #df916f;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Styling for the about section */
#about {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#about img {
    max-width: 100%;
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Set the width to the desired size */
    height: 160px; /* Set the height to the desired size */
    margin-top: 30px; /* Adjust the margin to move the image towards the bottom */
}

#about p {
    font-size: 1.1rem;
    padding: 20px;
}



/* 
#about {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
}

#about p {
    font-size: 1.1rem;
    padding: 20px;
} */

/* Styling for the skills section */
#skills {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 10px;
    font-size: 1.2rem;
}

/* Styling for the projects section */
#projects {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project:nth-child(even) {
    flex-direction: row-reverse; /* Reverse orientation for even numbered projects */
}

.project h3 {
    font-size: 1.8rem;
    margin-top: 10px;
    width: 45%;
}

.project p {
    font-size: 1.2rem;
    padding: 10px;
    width: 45%;
}

.project img {
    max-width: 50%;
    width: 40%;
}

/* Styling for the CV section */
#cv {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#cv a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.4rem;
}

/* Styling for the contact section */
#contact {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

/* Basic styling for the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
}

/* Additional CSS styles can be added as needed */
